@{
    Layout = null;
}
<link rel="stylesheet" href="~/assets/css/forbidden.css" />
<div class="wrapper">
    <div class="box">
        <h1>403</h1>
        <p>Sorry, it's not allowed to go beyond this point!</p>
    </div>
</div>